/* Common styles for all sizes */
.searchResultContainer ul {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 26px;
  list-style: none;
  padding: 0;
}

.close-icon {
  color: black;
}


.searchResultContainer {
  color: white;
}

.searchResultContainer h2 {
  color: white;
}

.searchResultContainer ul {
  list-style: none;
  padding: 0;
}

.searchResultContainer li {
  margin-bottom: 20px;
}

/* Styles for the modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  z-index: 9999; /* Ensure the modal is on top */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  width: 90%;
  height: 90%;
  max-width: 800px;
  max-height: 600px;
}


.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Media queries for responsiveness */
@media screen and (max-width: 1200px) {
  .searchResultContainer ul {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .searchResultContainer ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .searchResultContainer ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .searchResultContainer img {
    width: 100%; /* Make images responsive */
    height: auto;
  }
}

@media screen and (max-width: 576px) {
  .searchResultContainer ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .searchResultContainer img {
    width: 100%; /* Make images responsive */
    height: auto;
  }
}
