.note{
  color: white;
  font-size: 2rem;
  margin-top: 10px;
  display: inline;
  white-space: nowrap;
}


.searchContainer {
  position: fixed;
  width: 400px;
  top: 40%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  padding-top: 5vh; 
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3; 
}

.binder{
  position: absolute;
  margin-top: 110%;
}


.bar {
  background-color: white;
  overflow: hidden;
  width: 400px;
  border-radius: 10px;
  height: 40px;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  position: relative;
}

.newsScroll {
  width: auto;
  overflow: hidden;
  position: relative;
  display: flex;
  animation: scroll-left 1000s linear infinite; 
}

.newsScroll img {
  height: 340px;
  min-width: 250px;
  margin-right: 10px;
  transition: transform 0.5s ease;
}

.top {
  margin-bottom: 40px;
}

.bottom {
  margin-top: 40px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  width: calc(100% - 20px);
  font-size: 1.25rem;
  margin-right: 5px;
  outline: none;
}

.results {
  position: relative; /* Change from fixed to absolute */
  top: 100%; /* Position it below the search container */
  width: 100%;
  background-color: white;
  z-index: 4; /* Ensure search results are above everything else */
  margin-top: calc(var(--search-bar-height, 0px) + 10px); /* Dynamic margin based on search bar height */
}

.posters {
  z-index: 1;
}

.results ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.results li {
  margin: 0;
  padding: 10px;
  font-size: 1.25rem;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: color 0.3s ease;
}

button:hover {
  color: #007bff;
}

/* Media query for smaller screens */
@media only screen and (max-width: 830px) {
  .searchContainer {
    width: 80%;
  }

  .bar {
    padding: 0 10px;
    gap: 20px;
  }

  input {
    width: calc(100% - 10px);
  }

  .results {
    margin-top: 50px;
  }

  .results li {
    font-size: 1rem;
  }
}

/* Media query for screens with a width of 576px or lower */
@media only screen and (max-width: 576px) {
  .searchContainer {
    width: 90%; /* Adjust width for smaller screens */
  }

  .bar {
    padding: 0 5px;
    gap: 10px; /* Adjust padding for smaller screens */
  }

  input {
    width: calc(100% - 5px); /* Adjust width for smaller screens */
  }

  .results {
    margin-top: 60px; /* Adjust margin-top for smaller screens */
  }

  .results li {
    font-size: 0.7rem; /* Adjust font-size for smaller screens */
  }

  .binder{
    position: absolute;
    margin-top: 100%;
  }

  .bar{
    width:300px;
  }
  
  .results{
    width: 300px;
  }

}
